@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* LOGO */
.header_logo {
    margin-top: 30px;
}
    
.logo {
    display: block;
    align-items: center;
    width: 20%;
    margin: auto;
}

/* SEARCH BAR */
.search_bar {
    display: flex;
    align-items: center;
    padding: 0 100px;
    margin-top: 25px;
}
#site-search {
    width: 100%;
    height: 69px;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
}
.search_icon {
    position: absolute;
    right: 7.5rem;
}

/* TAGS / INPUTS */
#inputIngredients {
    border: none;
    background-color: #3282F7;
    width: 800px;
    height: 50px;
    font-size: 18px;
}
#inputAppareils {
    border: none;
    background-color: #68D9A4;
    width: 647px;
    height: 50px;
    font-size: 18px;
}
#inputUstensils {
    border: none;    
    background-color: #ED6454;
    width: 647px;
    height: 50px;
    font-size: 18px;
}
#inputIngredients:focus, #inputAppareils:focus, #inputUstensils:focus {
    outline: none;
}
.tags_selected {
    display: flex;
    margin: 20px 100px 0px 100px;
}
.tag_ingredients {
    background-color: #3282F7;
    font-family: "Lato", Arial, sans-serif;
    margin-right: 10px;
    color: white;
    padding: 1% 2% 0 2%;
    height: 37px;
    border-radius: 5px;
}
.tag_appareils {
    background-color: #68D9A4;
    font-family: "Lato", Arial, sans-serif;
    margin-right: 10px;
    color: white;
    padding: 1% 2% 0 2%;
    height: 37px;
    border-radius: 5px;
}
.tag_ustensils {
    background-color: #ED6454;
    font-family: "Lato", Arial, sans-serif;
    margin-right: 10px;
    color: white;
    padding: 1% 2% 0 2%;
    height: 37px;
    border-radius: 5px;
}
.nameIngredient, .nameAppareil, .nameUstensil {
    margin-right: 15px;
    text-transform: capitalize;
}

/* BOUTONS */
.selection_btn {
    display: flex;
    margin: 25px 100px 25px 100px;
}
.btnSearchIngredients, .btnSearchAppareils, .btnSearchUstensils {
    display: none;
    border: none;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Lato", Arial, sans-serif;
    line-height: 21.6px;
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin-right: 15px;
}
.btnSearchIngredients {
    background-color: #3282F7;
}
.btnSearchAppareils {
    background-color: #68D9A4;
}
.btnSearchUstensils {
    background-color: #ED6454;
}
.ingredients_contenair, .appareils_contenair, .ustensils_contenair {
    display: none;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px;
    margin-right: 15px;
}
.ingredients_contenair>*, .appareils_contenair>*, .ustensils_contenair>* {
    flex: 0 0 33.33333%;

}
.list_ingredients, .list_ustensils, .list_appareils {
    font-family: "Lato", Arial, sans-serif;
    text-align: start;
    text-transform: capitalize;
    border: none;
    height: 22px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.appareils_btn_close, .ingredients_btn_close, .ustensils_btn_close {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", Arial, sans-serif;
    cursor: pointer;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    width: 170px;
    padding: 10px;
    height: 50px;
}
.ingredients_btn_close, .list_ingredients, .ingredients_contenair {
    background-color: #3282F7;
}
.appareils_btn_close, .list_appareils, .appareils_contenair {
    background-color: #68D9A4;
}
.ustensils_btn_close, .list_ustensils, .ustensils_contenair {
    background-color: #ED6454;
}

/* FICHES */
.fiches_recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px;
}
.fiches_recipes article {
    width: 380px;
    height: 364px;
    margin-bottom: 50px;
}
.img_recipes {
    width: 100%;
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}
.fiches_header {
    font-family: "Lato", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #E7E7E7;
}
.fiches_header h2 {
    font-size: 16px;
    font-weight: 400;
}
.fiches_header span {
    margin-left: 10px;
    font-weight: bold;
}
.fiches_content {
    display: flex;
    height: 160px;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(220, 218, 218);
    border-radius: 0 0 5px 5px;
}
.content_ingredients {
    flex: 2;
    font-family: "Lato", Arial, sans-serif;
    font-size: 12px;
}
.content_text {
    flex: 2;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
}