@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* LOGO */
.header_logo {
    margin-top: 30px;
}
    
.logo {
    display: block;
    align-items: center;
    width: 20%;
    margin: auto;
}

/* SEARCH BAR */
.search_bar {
    display: flex;
    align-items: center;
    padding: 0 100px;
}
#site-search {
    width: 100%;
    height: 69px;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
}
.search_icon {
    position: absolute;
    right: 7.5rem;
}

/* BOUTONS */
#searchBtnIngredients, #searchBtnAppareils, #searchBtnUstensils {
    display: none;
    font-family: "Lato", Arial, sans-serif;
    border: none;
    line-height: 21.6px;
    border-radius: 5px 5px 0px 0px;
    width: 667px;
    height: 69px;
    font-size: 18px;
    padding-left: 20px;
}
.divBtnIngredients, .divBtnAppareils, .divBtnUstensils {
    display: none;
    flex-wrap: wrap;
    width: 667px;
    height: 397px;
    margin-right: 20px;
    border-radius: 0px 0px 5px 5px;
}
.ingredients_btn_open, .ustensils_btn_open, .appareils_btn_open {
    font-family: "Lato", Arial, sans-serif;
    display: none;
    width: auto;
    border: none;
    height: 22px;
    color: white;
    font-size: 18px;
}
.selection_btn {
    display: flex;
    margin: 25px 100px 25px 100px;
}
.appareils_btn_close, .ingredients_btn_close, .ustensils_btn_close {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: start;
    border-radius: 5px;
    margin-right: 15px;
    padding: 11px;
    width: 170px;
    height: 69px;
}
.ingredients_btn_close, .ingredients_btn_open, .divBtnIngredients, #searchBtnIngredients {
    background-color: #3282F7;
}
.appareils_btn_close, .appareils_btn_open, .divBtnAppareils, #searchBtnAppareils {
    background-color: #68D9A4;
}
.ustensils_btn_close, .ustensils_btn_open, .divBtnUstensils, #searchBtnUstensils {
    background-color: #ED6454;
}

/* TAGS */
.tags_selected {
    display: flex;
    margin: 20px 100px 0px 100px;
}
.tag_ingredients, .tag_appareils, .tag_ustensils {
    background-color: #3282F7;
    font-family: "Lato", Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
    color: white;
    width: auto;
    padding: 2% 3% 0 3%;
    height: 37px;
    border-radius: 5px;
}
.nameIngredient {
    margin-right: 15px;
}

/* FICHES */
.fiches_recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px;
}
.fiches_recipes article {
    width: 380px;
    height: 364px;
    margin-bottom: 50px;
}
.fiches_recipes img {
    width: 100%;
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}
.fiches_header {
    font-family: "Lato", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #E7E7E7;
}
.fiches_header h2 {
    font-size: 18px;
    font-weight: 400;
}
.fiches_header span {
    font-weight: bold;
}
.fiches_content {
    display: flex;
    max-height: 186px;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(220, 218, 218);
    border-radius: 0 0 5px 5px;
}
.content_ingredients {
    flex: 2;
    font-family: "Lato", Arial, sans-serif;
    font-size: 12px;
}
.content_text {
    flex: 2;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 60%;
    text-overflow: ellipsis;
}